@keyframes myAnimation {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

body {
    text-align: center;
    color: red;
}
p {
	color: blue;
	border-style: solid;
	border-color: DogerBlue;
	animation-name: myAnimation;
}

h1 {
	text-shadow: 2px 2px blue;
}
